form{
    width: 950px;
}

.detalhes-foto{
    width: 960px;   
    height: 122px;
    display: flex;
}

.form-two_inline{
    width: 50%;
    padding-right: 16px;
}

.box_form{
    display: flex;
    flex-wrap: wrap;
}

.form-two_inline textarea{
    width: 950px;
    height: 182px;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    opacity: 1;
    padding-top: 57px;
}