.container-card-user {
    border: 1px solid #EEEEEE;
    position: relative;
}

p {
    margin: 0px;
    font-size: 1rem;
}

.img-user {
    width: 100%;
}

.name-user, .address-user, .upgrade {
    font-size: 1.3rem;
    font-weight: bold;
}

.address-user {
    color: #1D252C61;
}

.upgrade {
    background: linear-gradient(to right, #EE2C09, #FF6A00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic;
}

.button-follow {
    font-size: 1rem;
    font-weight: bold;
    border: 1.5px solid #EEEEEE;
}

.link-curriculo{
    color: #DB752C;
    text-decoration: none;
}

.edit-profile {
    border: 1.5px solid #EEEEEE;
    position: absolute;
    background-color: #FFFFFF;
    top: 14px;
    right: 8px;
    color: #1D252C;
}