.select_form select{
    width: 912px;
    height: 48px;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    opacity: 1;
    margin-top: 10px;
}

button.button_add_mais{
    width: 260px;
    height: 48px;
}