.arquivo {
    display: none;
}

.img-job {
    border: 2px dashed #DB752C;
    cursor: pointer;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 575px) {
    .img-job {
        width: 300px;
        height: 300px;
    }
}

.img-upload {
    border: 2px dashed #DB752C;
    cursor: pointer;
    width: 45em;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
}