.imageStyleHome {
    background-image: url("../../assets/Dashboard/foto-home.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
    color: #1D252C3D;
    text-decoration: none;
    font-size: 12px;
}

.vertical-text:hover {
    color: #1a6a8f3d;
}