.container-header {
    height: 60px;
}

.button {
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.button:hover {
    color: orange;
}

.group-links-mobile {
    display: none;
}