.become-upgrade {
    background: linear-gradient(to right, #EE2C09, #FF6A00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic;
    font-weight: bold;
}